<form method="post" >
                        {% csrf_token %}
                        <div class="card" style="max-width: 20rem;">
                            <div class="card-header">
                            Sign up
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">{{ form.username.label_tag }}</h6>
                            <div class="card-text">
                                {{ form.username }}
                            </div>
                            <h6 class="card-title">{{ form.password.label_tag }}</h6>
                            <div class="card-text">
                                {{ form.password }}
                            </div>
                            <div class="mt-2">
                                {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                                {% endif %}
                            </div>
                            </div>
                            <div class="card-footer">
                            <input class="btn btn-success btn-sm" type="submit" value="login">
                            </div>
                    
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" >
                    </form>